doc/evaluation~
doc/labletransformation_simple_examples~
doc/labletransformation_tests~
doc/temp.rkt
doc/temp.rkt~
doc/typechecking.rkt~
doc/typechecking_tests~
src/Grammar.rkt~
src/Labeltransformation.rkt~
src/Typecheck.rkt~
src/VSIDO.rkt~
src/VSIDOL.bak
src/VSIDOL.rkt~
src/VSIDOLabel.rkt~
src/VSIDOT.rkt~
src/compiled/

